# Node dependencies
node_modules/

# Build artifacts
dist/
.parcel-cache/

# Editor & OS-specific files
.idea/
*.iml
.DS_Store

# Logs & debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.env
*.log
output/

# Lockfiles (optional, unless using a specific package manager)
package-lock.json
yarn.lock
pnpm-lock.yaml
